<!-- Login Section -->
<section class="auth-section">
    <div class="auth-container">
        <div class="auth-form-container">
            <div class="auth-header">
                <h1>Welcome back</h1>
                <p>Log in to your Buy Me A Coffee account</p>
            </div>
            
            <div class="social-login">
                <button class="social-btn google-btn">
                    <img src="/images/google-icon.png" alt="Google">
                    <span>Continue with Google</span>
                </button>
                <button class="social-btn facebook-btn">
                    <img src="/images/facebook-icon.png" alt="Facebook">
                    <span>Continue with Facebook</span>
                </button>
            </div>
            
            <div class="divider">
                <span>or</span>
            </div>
            
            <form class="auth-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Your email address" required>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Your password" required>
                </div>
                
                <div class="form-options">
                    <div class="remember-me">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember me</label>
                    </div>
                    <a href="/forgot-password" class="forgot-password">Forgot password?</a>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
            
            <div class="auth-footer">
                <p>Don't have an account? <a href="/signup">Sign up</a></p>
            </div>
        </div>
        
        <div class="auth-image">
            <img src="/images/login-image.jpg" alt="Login">
            <div class="image-caption">
                <p>"Buy Me A Coffee helped me connect with my audience and earn a living doing what I love."</p>
                <div class="caption-author">
                    <span>- Alex Morgan, Illustrator</span>
                </div>
            </div>
        </div>
    </div>
</section> 